[submodule "vendor/com/github/h5bp/html5-boilerplate"]
	path = vendor/com/github/h5bp/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git
[submodule "vendor/com/github/h5bp/mobile-boilerplate"]
	path = vendor/com/github/h5bp/mobile-boilerplate
	url = https://github.com/h5bp/mobile-boilerplate.git
[submodule "vendor/com/github/dhg/Skeleton"]
	path = vendor/com/github/dhg/Skeleton
	url = https://github.com/dhg/Skeleton.git
[submodule "vendor/com/github/c00kiemon5ter/hello-world"]
	path = vendor/com/github/c00kiemon5ter/hello-world
	url = https://github.com/c00kiemon5ter/hello-world.git
[submodule "vendor/com/github/leachim6/hello-world"]
	path = vendor/com/github/leachim6/hello-world
  url = https://github.com/leachim6/hello-world.git
  ignore = dirty
[submodule "vendor/com/github/e36freak/templates"]
	path = vendor/com/github/e36freak/templates
	url = https://github.com/e36freak/templates.git
[submodule "vendor/com/github/oxyc/bash-boilerplate"]
	path = vendor/com/github/oxyc/bash-boilerplate
	url = https://github.com/oxyc/bash-boilerplate.git
